.profile-img {
  height: 180px;
  border-radius: 50%;
}
.bigbackground{
  background-image: url(../images/Island1.png);
  background-size: cover;
  text-align: center;
  height: 100hv;
}
#heading_and_image{
height: 110vh;
padding: 20px;
}
.svgs{
  height: 30px;
}
.footer{
  background-color: #0770b3;
}
.svg{
  fill: currentColor;
}
