.profile-img {
  height: 180px;
  border-radius: 50%;
}

.svgs {
  height: 30px;
}
span {
  color: white;
}
.blue,
.footer {
  background-color: #0770b3;
}
.svg {
  fill: currentColor;
}
@media (max-width: 980px) {
  h2 {
    text-align: center;
  }
}
