body {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  scrollbar-color: #ff4d30 #ffffffa0;
}

header {
  top: 0;
  font-weight: bold;
  height: 100px;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.full-container {
  width: 90%;
  margin: 0 auto;
}
.container-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.company_logo {
  width: 150px;
}
.navigator {
  display: flex;
  list-style: none;
  justify-content: space-around;
  gap: 20px;
  padding: 0;
}
.mobile-hamb {
  display: none;
}
.navigator a {
  text-decoration: none;
  color: black;
}
.btn {
  font-size: 14px;
  font-weight: 900;
  background-color: transparent;
  border: 0;
  height: 60px;
  border-radius: 5%;
  cursor: pointer;
}
.btn-nav {
  background-color: #ff4d30;
  color: #ffffff;
  width: 120px;
}

.first {
  display: flex;
  align-items: center;
  position: relative;
}

.container {
  margin: 0 25px;
}
.content-card {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  position: relative;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 550px;
  z-index: 3;
}

.content-img {
  position: absolute;
  right: 10px;
  width: 65%;
  transform: scale(0.9);
  z-index: -1;
}
.content h1 {
  font-size: 56px;
  line-height: 1;
  margin: 0;
}
.content span {
  color: #ff4d30;
}
.btn-book {
  background-color: #ff4d30;
  color: #ffffff;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-dark {
  background-color: #000;
  color: #ffffff;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.btn-dark:hover {
  background-color: #ffffff;
  border: 1px solid #000;
  color: #000;
}
.buttons {
  display: flex;
  gap: 20px;
}
.back-img {
  position: absolute;
  right: 0;
  z-index: -5;
}

.container-form {
  background-color: #fff;
  margin: 0 25px;
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 150px;
}
.container-form h3 {
  font-size: 26px;
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-rows: repeat(2, 1fr); */
  column-gap: 50px;
  row-gap: 50px;
}
.form-grid-item {
  display: flex;
  flex-direction: column;
}
.submit {
  cursor: pointer;
}
.label {
  display: flex;
  align-items: center;
  gap: 5px;
}
.form-grid-item select {
  margin: 10px 0;
  height: 50px;
  border-radius: 5px;
  color: #878585;
  border: 1px solid #ccd7e6;
  padding-left: 10px;
}
.Date {
  height: 50px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #ccd7e6;
  padding: 0 30px 0 10px;
  color: #878585;
}
.submit {
  margin: auto 0 0 0;
  height: 50px;
  border-radius: 3px;
  background-color: #ff4d30;
  color: #ffffff;
  font-size: 20px;
  border: none;
}
label span {
  color: #ff4d30;
}
.title-header {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}
.title-header h3 {
  font-size: 26px;
}
.title-header h2 {
  font-size: 36px;
  margin: 0;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.card {
  display: flex;
  flex-basis: 32%;
  min-width: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.card img {
  width: 200px;
}
.card p {
  width: 80%;
  font-size: 16px;
}
.card h3 {
  font-size: 22px;
}
.car-album {
  margin: 50px 0;
}
.container-album {
  margin: 0 50px;
}
.album {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.cars {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 25%;
  gap: 10px;
  cursor: pointer;
}
.cars div {
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
  background-color: #e9e9e9;
  border-radius: 3px;
  height: 55px;
}
.car-img {
  flex-basis: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.car-img img {
  width: 100%;
}
.car-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  flex-basis: 25%;
  min-width: 250px;
}
.car-details-header {
  height: 50px;
  font-size: 20px;
  color: #ffffff;
  background-color: #ff4d30;
}
.car-price {
  font-size: 30px;
  font-weight: bold;
}
.details-table div {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 10px 0;
  border: 1px solid black;
}

.details-table div span:nth-child(1),
.details-table div span:nth-child(3) {
  flex-basis: 49%;
}
.reserve-btn {
  height: 50px;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ff4d30;
  border: none;
  cursor: pointer;
}
.reserve-btn:hover {
  background-color: #ff1a055f;
  transform: scale(1.1);
  transition: 0.5s;
}
.cars .selected {
  background-color: #ff4d30;
  color: #ffffff;
}
.divider {
  padding: 50px 0;
  background-color: #000;
  color: #ffffff;
}
.title-divider {
  text-align: center;
  margin: auto;
}
.title-divider h2 {
  font-size: 46px;
}
.title-divider span {
  color: #ff4d30;
}
.testimonials {
  background-color: #f8f8f8;
  padding: 50px 0;
  text-align: center;
}
.container-testimonials {
  margin: 0 50px;
}
.testimonials h2 {
  font-size: 46px;
}
.testimonials h3 {
  font-size: 26px;
}
.testimonials-title {
  margin: 0 300px;
  margin-bottom: 50px;
}
.testimonials-album {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.testimonials-box {
  background-color: #fff;
  padding: 50px;
  text-align: left;
  flex-basis: 40%;
}
.testimonials-box p {
  font-size: 24px;
}
.testimonials-box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.testimonials-person {
  margin: 20px 0;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
  align-items: center;
}
.testimonials-person p {
  font-size: 16px;
}
.testimonials-person svg {
  color: #ff4d30;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.faq {
  margin: 50px auto;
  background-image: url(./images/car_faq_section.png);
  background-repeat: no-repeat;
  background-position-y: center;
}
.container-faq {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 50%;
}
.faq-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.faq-title h3 {
  font-size: 1.5rem;
}
.faq-title h2 {
  font-size: 2.5rem;
}
.faq-qeustions-container {
  text-align: left;
  counter-reset: item-counter;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.faq-qeustions-container {
  cursor: pointer;
  background-color: #fff;
}
.questions {
  counter-increment: item-counter;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}
.questions div::before {
  content: counter(item-counter) ". ";
}
.questions.selected {
  background-color: #ff4d30;
  color: #ffffff;
  box-shadow: 0 10px 10px rgba(243, 99, 3, 0.3);
}
.responses {
  color: #878585;
  height: 0;
  overflow: hidden;
  transition: 0.3s ease;
  padding: 0 50px;
}
.responses.selected {
  padding: 20px 50px;
  height: auto;
}
.app {
  padding: 50px 100px;
  background-image: url(https://car-rental-ten.vercel.app/static/media/bg02.3efbc4567749d0a5671e.png);
  background-size: cover;
}
.app-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin: 0 25px;
}
.app-container h2 {
  font-size: 3rem;
}
.app-box {
  display: flex;
  gap: 50px;
}
footer {
  padding: 20px 0;
  bottom: 0;
  background-color: #000;
  color: #fff;
}
.footer {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.footer-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 25%;
}
.footer-box h3 {
  font-size: 1.5rem;
  color: #ff4d30;
}
.footer-box a {
  text-decoration: none;
  color: #fff;
}
.footer-box span {
  font-weight: bold;
  color: #ff4d30;
}
@media (max-width: 1300px) {
  .full-container {
    width: 100%;
  }
}

@media (max-width: 1042px) {
  .navigator {
    display: none;
    background-color: #ff4d30;
    font-size: 16px;
    right: 50px;
    left: 50px;
    top: 70px;
    position: fixed;
    flex-direction: column;
    gap: 5px;
    opacity: 0.8;
  }
  .show-bar {
    display: flex;
  }
  .sign-in {
    display: none;
  }
  .mobile-hamb {
    display: flex;
    border: 1px solid #000;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .cars {
    flex-basis: 100%;
  }
  .car-img {
    flex-basis: 60%;
  }
  .testimonials-title {
    margin: 0;
  }
  .container-faq {
    width: 85%;
  }
  .app-box {
    justify-content: space-between;
  }
  .app-box img {
    width: 15rem;
  }
}
@media (max-width: 800px) {
  .content {
    margin: 100px auto;
    text-align: center;
  }
  .content-img {
    display: none;
  }
  .buttons {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .back-img {
    display: none;
  }
  .card-container {
    grid-template-columns: 1fr;
  }
  .car-img {
    flex-basis: 100%;
  }
  .car-details {
    flex-basis: 100%;
  }

  .testimonials-album {
    flex-direction: column;
  }
  .testimonials-person h3 {
    font-size: 18px;
  }
  .app {
    padding: 50px 50px;
  }
  .app-container {
    margin: 0;
    max-width: 700px;
  }
  .app-box {
    flex-direction: column;
    align-items: center;
  }
  .footer {
    flex-direction: column;
    gap: 10px;
  }
}
