.navigator{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.navigator-search{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#image-web{
    margin-right: 20px;
}
#advanced-web{
    margin-right: 20px;
}
a:link {
    color: black;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: purple;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
    text-decoration: underline;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
.google-img{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 10px;
}
form{
    text-align: center;
}

.search-bar{
    text-align: left;
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    margin: 0 auto;
    border-radius: 24px;
    width: 584px;
    max-width: 584px;
}

.search-btn{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 5px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.advanced-search-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #d93025;
    margin-top: 40px;
    margin-left: 35px;
}
.span{
   outline: none;
   display: inline-block;

}
hr{
    border-bottom: 1px solid #ebebeb;
}
.h2-class{
    color: #333;
    font-size: 16px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}
.titler{
margin-right: 345px;
}
.titlel{
margin-left: 340px;
}
.row-input{
    display: flex;
    flex-direction: row;
    align-items: center
}
.left-row{
width: 200px;
margin-left: 50px;
text-align: left;
}
.middle-row{
    height: 25px;
    width: 571px;
    text-align: left;
    display: flex;
    background: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    
}
.middle-row2{
    height: 25px;
    width: 260px;
    text-align: left;
    display: flex;
    background: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
}
.right-row{
    display: flex;
    text-align: left;
    margin-left: 20px;
    font-size: 13px;
    width: 364px;
    height: 30px;
}
.to{
    width: 35px;
    padding-left: 6px;
    padding-right: 6PX;
    font-size: 15px;
    color: #202124;
    display: table-cell;
    text-align: center;
}
.middle-row3{
    height: 25px;
    width: 571px;
    display: flex;
}
.search_button{
    display: flex;
    height: 25px;
    color: white;
    margin-left: 457px;
    width: 120px;
    background: #05bbf7;
    border: 1px solid #09c0f2;
    border-radius: 2px;   
}